body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
}

header {
    color: whitesmoke;
    background: #282828;
}

ul {
    padding: 25px;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

li {
    cursor: pointer;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.item-img {
    width: 100%;
}

.caption {
    margin: 0 25px;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

.icon {
    width: 25px;
}

.item {
    position: relative;
}

.img-banner {
    position: absolute;
    top: 0;
    left: 0;
    background: #cd6858;
    color: whitesmoke;
    font-weight: 700;
    padding: 10px;

}

.align-right {
    margin-left: auto;
}